<div class="container">
    <div class="row pt-2">
        <div class="col-md-10">
            <div *ngIf="currentPosition !== ''">
                Position_{{currentPosition}}
            </div>
            <div *ngIf="currentPosition === ''">
                New Position
            </div>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-secondary" (click)="goBack()">Go Back</button>
            <button type="button" class="btn btn-success savebtn" (click)="Save()">Save</button>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-md-3 container-border">
            <!-- //Postion Data -->
            <table *ngFor="let object of objects" style="width: 100%;">
                <tr>
                    <td>
                        <img draggable="true" (dragstart)="drag(object.shape,$event)" 
                        src="assets/faicons/{{object.shape}}.png" height="100px" [alt]=object.shape />
                    </td>
                    <td>
                        {{object.shape}}
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-1">
            <!-- Blank space between rows -->
        </div>
        <div class="col-md-8 container-border dragger"(drop)="drop($event)" (dragover)="allowDrop($event)" #dragger>
            <span *ngFor="let position of positionStatus">
                <img draggable="true" (dragstart)="reDrag(position.Id,$event,position)" style="position: absolute;margin-left:{{position.x}}px;margin-top:{{position.y}}px"
                        src="assets/faicons/{{position.shape}}.png" height="100px" [alt]=position.shape />
            </span>
        </div>
    </div>
</div>
